* {
	padding: 0px;
	margin: 0px;
}

.menu-item-with-image {
	display: flex;
	align-items: center;
}

.ocultar {
	display: none;
	width: 20%;
}

.header {
	background-color: #0C231E;
	position: sticky;
	top: 0;
	z-index: 1;
}

.menu-item-with-image img {
	margin-left: 10px;
	width: 120px;
	height: auto;
}

.containerInicio {
	display: flex;
}

.containerMenu {
	background-color: #10312B;
	height: 100vh;
	position: fixed;
	z-index: 1;
	display: none;
}

@media only screen and (max-width: 570px) {
	.containerMenu {
		width: 60%;
	}
}

/* Estilos para dispositivos con pantalla entre 801px y 1200px de ancho */
@media only screen and (min-width: 801px) and (max-width: 1200px) {
	.containerMenu {
		width: 30%;
	}
}

@media only screen and (min-width: 570px) and (max-width: 800px) {
	.containerMenu {
		width: 40%;
	}
}

@media only screen and (min-width: 1201px) {
	.containerMenu {
		width: 17%;
	}
}

.ContainerContenido {
	width: 100%;
}

.card {
	background-color: #10312B;
}

.iconos {
	height: 100vh;
	background-color: #10312B;
	width: 55px;
}

body .ui-menu {
	width: 100%;
	height: 100%;
	background-color: #10312B;
	border: none;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
	color: ghostwhite;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link:hover .ui-menuitem-text {
	color: #CFB53B;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
	transition: all .5s ease;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link:hover {
	background-color: #235b4E;
	border-radius: 5px;
	margin: 0 5px 0 5px;
	transition: all .5s ease;
}

body .ui-widget-content .ui-menu-list .ui-corner-all .ui-helper-clearfix .ui-menu-child .ui-shadow {
	background-color: #CFB53B;
	;
}

body .ui-menu .ui-menu-list .ui-menu-child.ui-shadow {
	left: 10px;
	padding: 0px;
}

.cerrar {
	animation-name: cerrar;
	animation-duration: 1s;
}

.abrir {
	animation-name: abrir;
	animation-duration: 1s;
}

.opacar {
	animation-name: opacar;
	animation-duration: 1s;
}

.noOpacar {
	animation-name: desOpacar;
	animation-duration: 1s;
}

@keyframes cerrar {
	from {
		width: 17%;

	}

	to {
		width: 0px;
	}

}

@keyframes abrir {
	from {
		width: 0px;

	}

	to {
		width: 17%;
	}

}

@keyframes opacar {
	from {
		opacity: 0;

	}

	to {
		opacity: 1;
	}

}

@keyframes desOpacar {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
	}

}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
	color: white;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link:hover .ui-menuitem-icon {
	color: #CFB53B;
}