* {
	padding: 0px;
	margin: 0px;
}

.containerInicio {
	width: 100%;
	display: flex;

}

.containerMenu {
	position: sticky;
	top: 0px;
	width: 250px;
	height: 100vh;
	/*	animation: fadeInDown 0.5s;*/
}

.ContainerContenido {
	width: 100%;
}

.card {
	height: 100vh;
}

body .ui-menu {
	width: 100%;
	height: 100vh;
	background-color: #132f1c;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
	color: ghostwhite;
}

/*@keyframes fadeInDown {*/
/*	from {*/
/*		opacity: 0;*/
/*		transform: translateY(-20px);*/
/*	}*/

/*	to {*/
/*		opacity: 1;*/
/*		transform: translateY(0);*/
/*	}*/
/*}*/